<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <title th:text="${title}"></title>
</head>
<body>
<header th:fragment="header" class="bg-dark text-white d-flex justify-content-between align-items-center" style="padding: 16px 30px; font-size: x-large">
  <div><span th:text="${#authentication.getPrincipal().getUsername()}" style="font-weight: bold">some@email.ru</span> with roles:
    <th:block th:each="role : ${#authentication.getAuthorities()}">
      <span th:text="*{role.getAuthority()}">TEST_ROLE</span>
    </th:block>
  </div>
  <a href="/logout" sec:authorize="isAuthenticated()" class="text-white-50">Logout</a>
</header>

<th:block th:fragment="bootstrap_javascript">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</th:block>
</body>
</html>