<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="ru">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Страница пользователя ' + user.getFullName()}"></title>
</head>
<body>
<header th:insert="fragments::header"></header>
<div align="center">
    <h2 th:text="'Пользователь ' + ${user.getFullName()}" th:if="${user != 'null'}"></h2>
    <form th:method="POST" th:action="(${user == 'null'}) ? '/admin/new' : ${user.id}"
          modelAttribute="user">
        <label for="email">E-mail</label>
        <input name="email" type="text" id="email" th:value="${user.getEmail()}"/>

        <br>

        <label for="firstName">First name</label>
        <input name="firstName" type="text" id="firstName" th:value="${user.getFirstName()}"/>

        <br>

        <label for="username">username</label>
        <input name="username" type="text" id="username" th:value="${user.getUsername()}"/>

        <br>

        <label for="password">Password</label>
        <input name="password" type="password" id="password" th:value="${user.getPassword()}"/>

        <br>

        <label for="lastName">Last name</label>
        <input name="lastName" type="text" id="lastName" th:value="${user.getLastName()}"/>

        <br>

        <select name="roles" id="roles" multiple="multiple" size="2" style="">
            <div th:each="role : ${roles}">
                <option th:text="${role.toString()}" th:value="${role.getId()}" th:selected="${user.getRoles().contains(role)}"/>
            </div>
        </select>

        <br>
        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <a href="/admin">Вернуться к списку пользователей</a>
            <input type="submit"
                   th:value="${#httpServletRequest.requestURI.endsWith('new')} ? 'Создать пользователя' : 'Изменить данные'">
        </div>
    </form>
</div>
</body>
</html>